body {
    margin: 0;
    background-color: black;
    font-family: arial;
    font-size: 125%;
}

img {
    display: block;
    border: 0;
}

h1 {
    color: #636363;
}

h2 {
    color: #525252;
}

#ciph-browser {
    margin: 20px auto;
    width: 100%;
    max-width: 900px;
    padding: 0 5px;
    clear: both;
}

#ciph-logo {
    float: right;
}

#ciph-header {
    padding: 2px;
}

#ciph-page {
    color: #c2c2c2;
}

#ciph-page a {
    color: #ededed;
}

#ciph-video {
    width: 100%;
}